#top {
    display: flex;
    height: auto; 
    width: 100%; 
    margin: 0 30px; 
    align-items: center;  
    font-size: 25px;
    padding-top: 20px; 
    box-sizing: border-box;
    color: #d16060; 
}
#content {
    max-width: 1000px; 
    width: 90%; 
    margin: 0 auto;
    text-align: center; 
}
body{
    font-size:18px;
    font-family:"Gill Sans", Helvetica, Arial, "sans-serif";
    text-align: center;
}

footer {
    display: flex; 
    align-items: center;      
    padding: 20px 0;
    background-color: #f0f0f0;
}
footer a {
    padding: 0 10px;    
    border-right: 1px solid #000;  
}
footer a:last-child {
    border-right: none; 
}

ul#nav {
    display: flex;
    list-style-type: none;
    font-size: 22px; 
}
ul#nav a {
    text-decoration:none; 
    color: rgb(62, 10, 10); 
}
ul#nav a:hover {
    color: rgb(201, 27, 27); 
    text-decoration: none;
    background-color: rgb(53, 4, 4); 
    padding: 5px; 
    border-radius: 5px; 
}
ul#nav li {
    display:inline-block
}
